<footer class="footer">
    <div class="arrow">
        <a href="../index.html#section1">
            <img src="../../../public/assets/images/ico-arrow.svg" alt="flecha">
        </a>
    </div>
    <ul class="footer-menu">
        <li><a href="https://adalab.es/">Zapatillas</a></li>
        <li><a href="https://adalab.es/">Ropa</a></li>
        <li><a href="https://adalab.es/">Niño/a</a></li>
        <li><a href="https://adalab.es/">Destacados</a></li>
        <li><a href="https://adalab.es/">Tips</a></li>
    </ul>
    <ul class="footer-social">
        <li><a href="https://adalab.es/">Twitter</a></li>
        <li><a href="https://adalab.es/">Instagram</a></li>
        <li><a href="https://adalab.es/">Youtube</a></li>
    </ul>
    <div class="footer-paragraphs">
        <p>&copy; 2023</p>
        <p>we <img src="" alt=""><span class="green-heart">&#9829;</span> run</p>
    </div>
</footer>