<main class="main">
    <div class="section1" id="section1">
        <h2 class="title">Comienzos compartidos</h2>
        <p class="text1">Todo lo que necesitan para volver al cole con ilusión</p>
        <div class="circle">
            <a href="../index.html#section3">
                <img src="../assets/images/ico-arrow.svg" alt="flecha" class="centered-image">
            </a>
        </div>
    </div>
    <section class="section2">
        <p class="history">Historias, moda y ropa deportiva</h2>
        <p class="title2">Tu tienda de deporte</h2>
        <p class="sport">
            El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te ofrece
            las
            últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.
        </p>
        <button class="button1">Comprar</button>
    </section>
    <section class="section3" id="section3">
        <h2 class="title3">¡Prepáralos con tus marcas favoritas!</h2>
        <h2 class="title4">Vuelta al cole</h2>
        <div class="grid-container">

            <article class="accessories">

                <img src="../assets/images/lpbts-mod05-img01-desk.png" class="imagen" alt="">
                <h2 class="title5">Mochilas escolares</h2>

            </article>
            <article class="accessories2">

                <img src="../assets/images/lpbts-mod05-img04-mob.png" class="imagen" alt="">
                <h2 class="title6">Estuches</h2>

            </article>
            <article class="accessories3">

                <img src="../assets/images/lpbts-mod05-img03-mob.png" class="imagen" alt="">
                <h2 class="title7">Bolsas de deporte</h2>

            </article>
        </div>
        <button class="button-generic">Empezar ahora</button>
    </section>
</main>