.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a4a4a;
    color: white;
    flex-direction: column;
    padding-bottom: 20px;
    margin-top: 0;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}


.arrow {
    width: 38px;
    height: 38px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 3.5%;
    color: green;
    margin-bottom: 10px;

}



.footer-menu,
.footer-social {
    list-style: none;

    a {
        text-decoration: none;
        color: inherit;
    }

    a:visited {

        text-decoration: none;
        color: inherit;
    }
}

.footer-social {
    list-style: none;
}


.arrow-img {
    width: 21px;
    height: 21px;
    color: green;
}




footer p:last-child {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

footer p {
    margin: 0;
}


.green-heart {
    color: green;
}